[submodule "Packages/Acting"]
	path = Packages/Acting
	url = git@github.com:YuriAICruz/Unity-Acting.git
[submodule "Packages/UI"]
	path = Packages/UI
	url = git@github.com:YuriAICruz/Unity-UI-Generics.git
[submodule "Packages/Utils"]
	path = Packages/Utils
	url = git@github.com:YuriAICruz/Unity-Utils.git
[submodule "Packages/CameraMan"]
	path = Packages/CameraMan
	url = git@github.com:YuriAICruz/Unity-CameraManagement.git
[submodule "Packages/Input"]
	path = Packages/Input
	url = git@github.com:YuriAICruz/Unity-InputManager.git
